<h2>Productos</h2>
<hr>
<br><br>
<a href="/realtimeproducts">Productos en tiempo real</a>

<hr>
<ul>
    {{#each products}}
        <li>{{this.title}}</li>
    {{/each}}
</ul>

{{!-- <script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/products.js"></script> --}}