<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
    <link href="/css/template/bootstrap.min.css" rel="stylesheet">
    <link href="/css/template/prettyPhoto.css" rel="stylesheet">
    <link href="/css/template/price-range.css" rel="stylesheet">
    <link href="/css/template/animate.css" rel="stylesheet">
    <link href="/css/template/main.css" rel="stylesheet">
    <link href="/css/template/responsive.css" rel="stylesheet">
    <link href="/css/template/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    {{{body}}}

    <script src="/js/template/jquery.js"></script>
    <script src="/js/template/price-range.js"></script>
    <script src="/js/template/jquery.scrollUp.min.js"></script>
    <script src="/js/template/bootstrap.min.js"></script>
    <script src="/js/template/jquery.prettyPhoto.js"></script>
    <script src="/js/template/main.js"></script>
    <script src="/js/home.js"></script>
</body>
</html>